body{
    display: flex;
    background-color: gray;
    justify-content: center;

}

.container{
    display: flex;
    background-color: white;
    width: 350px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    
}
img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float:left;
}
#box1{
   
    height: 45px;
    margin: 5%;
    margin-top: 3%;

}
#box2{
    display: flex;
    justify-content:flex-start;
    align-items:self-start;
    height: 45px;
    border-top: 0.5px solid rgb(223, 220, 220);
    margin: 8%;
    margin-top: 3%;
   
}

#box3{
    height: 45px;
    border-top: 0.5px solid rgb(223, 220, 220);
    margin: 8%;
    margin-top: 3%;

}


#box4{
    height: 45px;
    border-top: 0.5px solid rgb(223, 220, 220);
    margin: 8%;
    margin-top: 3%;

}

