*{
    font-family: Arial, Helvetica, sans-serif;
}




.container{
    width: 90%;
    max-width: 350px;
    border: 1px solid rgb(196, 191, 191);
    height: 600px;
    border-radius: 8px;
}
.recebida{
    margin: 5px;
    border-radius: 8px;
    position: relative;
    text-align: left;
    display: block;
    border: 0.5px solid rgb(196, 191, 191);
}
.enviada{
    margin: 5px;
    border-radius: 8px;
    position: relative;
    text-align: right;
    display: block;
    border: 0.5px solid rgb(196, 191, 191);
    background-color: rgb(194, 226, 194);
}
img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.horario{
    text-align:right;
}
.nome{
    text-align: left;
}
.intercao{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: 340px;
    height: 100px;
    border-radius: 8px;
    flex-direction: column;
    
}
.interacao button{
    display: flex;
   padding: 12px;
   border-radius: 5px;
   align-items: flex-end;
}
.intercao input{
    display: flex;
    flex: 0.75;
    width: 240px;
    border: 1px solid gray;
    font-size: 14px;
    text-align: left;
    align-items: center;
    justify-content: center;

}