*{

    margin: 0px;
    padding: 0px;

}
div{
    display: inline-block;
    width: 100px;
    height: 100px;
    font: ariel;
    border: 1px solid black;
    animation: rotacao 10s liner;
    
}
@keyframe rotacao{
    0%(rotate: 0deg;)
    100%(rotate: 360deg;)
}

#box1{background-color: cornflowerblue;}
#box2{background-color: pink;}