       
        .container{
            display: grid;
            grid-template-rows: 20vh 20vh 20vh 20vh ;
            grid-template-areas: 
            "box1 box1 box1 box1"
            "box2 box3 box3 box4"
            "box5 box3 box3 box6"
            "box5 box7 box7 box7";

        }
        #box1{
            grid-area: box1;
            background-color: rgb(250, 199, 105);
            border-radius: 10px;
            margin: 1%;
            text-align: center;

        }
        #box2{
            grid-area: box2;
            background-color: rgb(245, 94, 94);
            border-radius: 10px;
            margin: 1%;
            text-align: center;

        }
        #box3{
            grid-area: box3;
            background-color: rgb(250, 199, 105);
            border-radius: 10px;
            margin: 1%;
            text-align: center;


        }
        #box4{
            grid-area: box4;
            background-color: rgb(245, 94, 94);
            border-radius: 10px;
            margin: 1%;
            text-align: center;

        }
        #box5{
            grid-area: box5;
            background-color: rgb(250, 199, 105);
            border-radius: 10px;
            margin: 1%;
            text-align: center;

        }
        #box6{
            grid-area: box6;
            background-color: rgb(245, 94, 94);
            border-radius: 10px;
            margin: 1%;
            text-align: center;

        }
        #box7{
            grid-area: box7;
            background-color: rgb(250, 199, 105);
            border-radius: 10px;
            margin: 1%;
            text-align: center;

        }

       
        
        
        
